<template name="mainLayout">
<div class="container-fluid">
        
            <div class="header row"> 

                    <div class="header-logo">
                        <a href="#"><img src="images/cookit-logo.png" class="logo"></a>               
                    </div>
                    <div class="header-icons">
                        <ul class="list-unstyled list-inline">
                            <li>
                                <span class="glyphicon glyphicon-plus"></span>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </li>                      
                        </ul>
                    </div>
                </div>
                <div class="row loggedin">
                    <h6><span class="glyphicon glyphicon-user"></span><span>logged in as Username</span></h6>
                </div>
        
        
        <div class="categories">
            <h2>Kategorien</h2>
            
            <div class="row">

              <div class="col-sm-3">
                  <a class="close">×</a>
                <a href="#" class="thumbnail">
                    <i class="flaticon-turkey7"></i>
                    <div class="cat-title">Fleisch / Wurstwaren</div>
                </a>
              </div>  
                
              <div class="col-sm-3">
                  <a class="close">×</a>
                <a href="#" class="thumbnail">
                    <i class="flaticon-drink31"></i>
                    <div class="cat-title">Milch / Milchprodukte</div>
                </a>
              </div> 
              <div class="col-sm-3">
                  <a class="close">×</a>
                <a href="#" class="thumbnail">
                    <i class="flaticon-sweet9"></i>
                    <div class="cat-title">Süßwaren / Zucker</div>
                </a>
              </div>  
              <div class="col-sm-3">
                  <a class="close">×</a>
                <a href="#" class="thumbnail">
                     <i class="flaticon-drink110"></i>
                    <div class="cat-title">Getränke</div>
                </a>
              </div>
            
            
              <div class="col-sm-3">
                  <a class="close">×</a>
                <a href="#" class="thumbnail">
                     <i class="flaticon-fish52"></i>
                    <div class="cat-title">Fisch / Fischprodukte</div>
                </a>
              </div>  
                
              <div class="col-sm-3" >
                  <a class="close">×</a>
                <a href="#" class="thumbnail">
                  <i class="flaticon-chilis"></i>
                    <div class="cat-title">Gemüse / Hülsenfrüchte</div>
                </a>
              </div> 
              <div class="col-sm-3">
                  <a class="close">×</a>
                <a href="#" class="thumbnail">
                    <i class="flaticon-fruit42"></i>
                 <div class="cat-title">Obst</div>
                </a>
                  
              </div>  
              <div class="col-sm-3">
                  <a class="close">×</a>
                <a href="#" class="thumbnail">
                    <i class="flaticon-add30"></i>
                 <div class="cat-title">Add new category</div>
                </a>
                  
              </div>  
        </div>
            
        </div>
            
        
    </div> 
      
  

</template>
